body {
	background-color: #fff !important;
}

img, * > img, img > *, * > img > * {
	opacity: 0 !important;
}

div, p, h1, h2, h3, h4, h5, span, ul, li, section  {
	border: 1px solid !important;
	border-radius: 4px;
	background-image: none !important;
}

div > *, section > * {
	border: 1px solid !important;
	border-radius: 4px !important;
	background-image: none !important; 
	background-color: #fff !important;
}

div::after {
	background-image: none !important;
	background-color: #fff !important;
}

div > * > a , div > a > * , div > * > a > *, * > a, * > a > * {	
	/*font-size: 200px !important;*/
	border: 1px solid black !important;
	border-radius: 4px;
	/*background-image: url('icon.png') center no-repeat !important;*/
	background-color: black !important;
	color: black !important;
}

/*div   {
	 transition: 1s ease-in-out;
}

div:hover  {
	transform: translate(10px,0);
}*/

button > * , *  > button , * > button > {	
	/*font-size: 200px !important;*/
	border: 1px solid black !important;
	border-radius: 4px;
	background: black !important;
	color: black !important;
}

* > input , input > * , * > input > * {	
	/*font-size: 200px !important;*/
	border: 1px solid black !important;
	border-radius: 4px;
	background: black !important;
	color: black  !important;
}